
/*.................................................Custom Rows........................................................*/
.cust_Row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -15px;
    margin-left: 15px;}

/*.................................................Custom Rows End........................................................*/

/*.................................................Custom Rows Start........................................................*/


.col-md-8 .customBlogSection {

    background-color: #0e0f10;
    width: 100%;

    margin-left: -15%;


}

/* ...........................................Custom Row End....................................................... */

/* ...........................................Custom right panel....................................................... */
/*.customRightPanel{

}*/

.col_Box{
    height: max-content;
    width: inherit;
}
.col_Box .side-left{

    display: grid;
    grid-template-columns: auto auto auto;

}

.row .customRightPanel{

    width: inherit;
    height: max-content;
}
.col-md-4 video{

    width: 600px;
    height: max-content;
}

/* ...........................................Custom right panel End....................................................... */


/* ...........................................Icon Styling Start....................................................... */

.pt-customAbout .service {
    text-align: center;
}

.pt-customAbout .service i {
    position: relative;
    width: 70px;
    height: 70px;
    font-size: 25px;
    line-height: 70px;
    color: #fff;
    background-color: #0e0f10;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.pt-customAbout .service:hover i:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    left: calc(50% - 30px);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #25ca7f;
    -webkit-animation: zoomIn .3s ease;
    animation: zoomIn .3s ease;
}

.pt-customAbout .service h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ...........................................Icon Styling End....................................................... */

/* kiran frontend changes  */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3d3c3c; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #25CA6C; 
  }
.blog-post.video--edit video{
    width: 100%;
}
.header-main ul li{
    font-size: 18px;
}
.home--page-banner{
    position: relative;
    height: 626px;
    width: 100%;
    margin-bottom: 150px;
}
.testimonial--HomePage{
    position: relative;
    width: calc(100% - 200px);
    height: auto;
    margin-bottom: 50px;
    left: 12%;
    padding: 10px;
    background-color: rgba(29, 30, 32, 0.5);
}
.overflow--auto{
    overflow: auto;
}
.testimonial--HomePage.pt-about {
    transform: translateX(0%) !important;
}
.testimonial--HomePage.pt-about .testimonial-item{
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.fsp {
    position: relative;
    width: 1000px;
    /* background: red; */
}
.fsp .testimonial--HomePage{
    width: 100%;
    left: 0;
}
.testimonial-item a{
    animation-timing-function: linear;
}
.testimonial-item a:hover{
    font-size: 20px;
    animation: 3s linear .1s colorIt;
}
@media (min-width:320px) and (max-width:767px){
    .blog-post.video--edit video{
        width: 80%;
    }
    .col-md-8 .customBlogSection{
        margin-left: -8%;
    }
    .col_Box .side-left{
        margin-top: 50px;
    }
    .pt-home .social.down--icons{
        bottom: 5px;
        width: 250px;
        left: 25px;
        position: relative;
    }
    .pt-home .social.down--icons ul{
        display: flex;
        justify-content: space-between;
    }
    .header-main ul li{
        font-size: 14px;
    }
    .testimonial--HomePage{
        left: 20px;
        width: calc(100% - 45px);
    }
    .fsp {
        width: 100%;
        max-width: 280px;
    }
    .testimonial-item a:hover{
        font-size: 16px;
    }
}
@media (min-width:768px) and (max-width:1200px){
    .fsp {
        width: 100%;
        max-width: 500px;
    }
}
/* ends here */